
.icon-heart:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */